@import url(https://fonts.googleapis.com/cssfamily=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);

/* BODY looks at its parent HTML, to know how 
   to scale the property dynamically */
html, body {
height:100%;
} 

body{
    font-family: Lato, Verdana;
    background-image: url('../images/spheres_arealight_edit.jpg');
    /* No scrolling in x or y */
	overflow: hidden ! important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    margin-left: 50px;
}

p.title {
    font-size: 500%;
    font-family: Lato, sans-serif;
	font-weight: 300;
	color: #d6ae0c;
	margin-bottom: -5px;
    margin-top: 5%;
}
/*
p.title:first-letter {
    background-color: #d6ae0c;
    color: rgb(10, 10, 10);
    border-radius: 15px;
    position: relative;
}
*/

.square-back {
    background-color: #d6ae0c;
    color: rgb(10, 10, 10);
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    text-align: center;
    font-size: 7vw;
}

p.subtitle{
	color: #d6ae0c;
	font-size: 250%;
	max-width: 45%;
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: #d6ae0c;
	border-top: 1px solid #d6ae0c;
	padding-top: 20px;
}

a.icons{
	position: fixed;
	color: #d6ae0c;
	font-size: 100%;
	bottom: 5%;
    transition: color 1s ease;
}

a.icons:hover {
	color: rgb(255, 255, 255);
}
